<div>NOME: {{namePlace}}</div>
<div>DOTTORE: {{nameDoc}}</div> 
<div>CITTA':{{city}}</div> 
<div>VIA: {{address}}</div>
<button data-id="{{id}}" class='btn btn-danger' onclick="deletePlace(this)">Delete</button>