<div class="container-fluid">

<div class="row">
<div class="col-xs-6">
{{#if currentUser}}
  <h2>Posta la tua sede</h2>
  {{!--  Button trigger modal  --}}
  <button type="button" class="btn btn-primary btn-sm button-changes" id="test" data-toggle="modal" data-target="#myModal">
  Create
</button>
{{else}}
  <h2>Cerca il veterinario più vicino a te!</h2>
{{/if}}
</div>


{{!-- Search input --}}
<div class="form-group col-xs-6">
   <input type="text" class="form-control pull-right" id="search" placeholder="Search">
</div>
</div>
  <div class="row row-changes">
  	{{#each veterinary}}
 		<div class="col-sm-3 col-changes">
 			<div class="panel-default panel-changes">
 				<a href="/place/{{id}}">
	  				<div class="panel-heading panel-heading-changes">
	    				<h3 class="panel-title">{{namePlace}}</h3>
	  				</div>
  				</a>
  				<div class="panel-body">
    				<div>
    					<h4 class="margin-bottom-0">
    						DOTTORE 
    						<span class="fa fa-user-md fa-changes"></span>
    					</4>
    					<h4 class="color-title-chenges margin-top-0">
    						{{nameDoc}}
    					</h4>
    				</div> 
    				<div>
    					<h4 class="margin-bottom-0">
    						INDIRIZZO
    						<span class="fa fa-street-view fa-changes"></span>
    					</4>
    					<h4 class="color-title-chenges margin-top-0">
    						Via: {{address}}, {{city}}
    					</h4>
              {{#each comments}}
              <h4 class="color-title-chenges margin-top-0">
                Commenti: {{comment}}{{userName}}{{rate}}
              </h4>
              {{/each}} 
    				</div> 
    				<div class="div-button-delete">
						{{#if canDelete}}
	 						<button data-id="{{id}}" class='btn btn-danger' onclick="deletePlace(this)">Elimina</button> 
	 					{{/if}}	
 					  </div>
{{#if ../currentUser}}
            <h1>Comments</h1>
            <form onsubmit="createComments(event)">
              <label for="rate">voto:</label>
              <div class="container">
                  <input type="radio" name="rate" class="rating" value="1" />
                  <input type="radio" name="rate" class="rating" value="2" />
                  <input type="radio" name="rate" class="rating" value="3" />
                  <input type="radio" name="rate" class="rating" value="4" />
                  <input type="radio" name="rate" class="rating" value="5" />
              </div>
              <label for="comment">comment:</label>
              <input id="comment" type="text" name="comment">
              <input type="hidden" name="placeId" id="idUser" value="{{id}}">
              <input type="hidden" name="userName" id="userName" value="{{../currentUser.nome}}">
              <button type="submit" >Crea</button>
            </form>
{{/if}}
 					{{!-- <div>CITTA':{{city}}</div> 
 					<div>VIA: {{address}}</div> --}}
 					{{!-- <div>Posted by {{postedBy}}</div> --}}
  				</div>
			</div>
 			{{!-- <a href="/place/{{id}}"><div>NOME: {{namePlace}}</div></a> 
 			<div>DOTTORE: {{nameDoc}}</div> 
 			<div>CITTA':{{city}}</div> 
 			<div>VIA: {{address}}</div>
 			<div>Posted by {{postedBy}}</div>
 			{{#if canDelete}}
 			<button data-id="{{id}}" class='btn btn-danger' onclick="deletePlace(this)">Delete</button> 
 			{{/if}}	 --}}	
 		</div>
	{{/each}}  
  </div>
</div>


{{!--  Modal  --}}
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      {{!-- Calling the function createPlace in app.js passing my informations as event --}}
      <form onsubmit="createPlace(event)">
	      <div class="modal-body">
	      	<div class="form-group">
		  	  	<label for="namePlace">nome place:</label>
		  		<input class="form-control" id="namePlace" type="text" name="namePlace">
	  		</div>
	  		<div class="form-group">
		  		<label for="nameDoc">nome dott:</label>
		  		<input class="form-control" id="nameDoc" type="text" name="nameDoc">
	  		</div>
	  		<div class="form-group">
		  		<label for="city">city:</label>
		  		<input class="form-control" id="city" type="text" name="city">
	  		</div>
	  		<div class="form-group">
		  		<label for="address">address:</label>
		  		<input class="form-control" id="address" type="text" name="address">
			</div>
	  	  </div>
	  	  <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	        <button type="submit" class="btn btn-primary btn-primary-changes">Crea</button>
	      </div>
      </form>   
    </div>
  </div>
</div>



