
      
<div class="container">
  <div class="row">	
    <div class="col-md-3 col-changes">
 		<div>NOME: {{nome}}</div>
		<div>cognome: {{cognome}}</div> 
		<div>email:{{email}}</div> 
		<div>id: {{id}}</div>
    	
  
		<button data-id="{{id}}" class='btn btn-danger' onclick="deleteUser(this)">Delete</button>

  	</div>
  </div>
</div>

<h1>Edit</h1>
<form onsubmit="editUser(event)">
  <label for="nome">nome:</label>
  <input id="nome" type="text" name="nome" value="{{nome}}">
  <label for="cognome">cognome:</label>
  <input id="cognome" type="text" name="cognome" value="{{cognome}}">
  <label for="email">email:</label>
  <input class="email" type="email" name="email" value="{{email}}">

  <button id="saveUser" data-id="{{id}}" type="submit">Edit</button>
</form>
