
      
<div class="container">
  <div class="row row-changes">	
    <div class="col-md-6 col-changes2">
      <h3>I tuoi dati attuali</h3>
      <span class="input input--minoru">

          <h4 >{{nome}}</h4>
          <label class="input__label input__label--yoko input__label--yoko2" for="nome">
            <span class="input__label-content input__label-content--yoko2">NOME</span>
          </label>
        </span>
        <span class="input input--minoru">
          <h4 class="margin-top-0">{{cognome}}</h4>
          <label class="input__label input__label--yoko input__label--yoko2" for="nome">
            <span class="input__label-content input__label-content--yoko2">COGNOME</span>
          </label>
        </span>
        <span class="input input--minoru">
          <h4 class="margin-top-0">{{email}}</h4>
          <label class="input__label input__label--yoko input__label--yoko2" for="nome">
            <span class="input__label-content input__label-content--yoko2"> EMAIL</span>
          </label>
        </span>{{!-- 

 		  <div><h5>NOME</h5> <h5>{{nome}}</h5> </div>
		  <div><h5>COGNOME</h5> <h5>{{cognome}}</h5></div> 
		  <div><h5>EMAIL</h5><h5>{{email}}</h5></div>  --}}
		  {{!-- <div>id: {{id}}</div> --}}

      <button data-id="{{id}}" class='btn btn-xs btn-danger fixed-left-bottom' onclick="deleteUser(this)">Eliminami da VetAround</button>
  	</div>

    <div class="col-md-6 col-changes2">
      <h3>Modifica i tuoi dati</h3>
      <form onsubmit="editUser(event)">
        <span class="input input--minoru">
          <input class="input__field input__field--yoko nome" id="" type="text" name="nome" value="{{nome}}" />
          <label class="input__label input__label--yoko" for="nome">
            <span class="input__label-content input__label-content--yoko">NOME</span>
          </label>
        </span>
        <span class="input input--minoru">
          <input class="input__field input__field--yoko cognome" type="text" name="cognome" value="{{cognome}}" />
          <label class="input__label input__label--yoko" for="cognome">
            <span class="input__label-content input__label-content--yoko">COGNOME</span>
          </label>
        </span>
        <span class="input input--minoru">
          <input class="input__field input__field--yoko email" type="email" name="email" value="{{email}}" />
          <label class="input__label input__label--yoko" for="email">
            <span class="input__label-content input__label-content--yoko">EMAIL</span>
          </label>
        </span>
        <button id="saveUser" data-id="{{id}}" type="submit" class="btn btn-xs btn-changes fixed-left-bottom">Modifica</button>
      </form>
        
    </div>

  </div>
  
</div>


